/*
Erika Vanderhoff
CSD-340
Assignment 7.3
07/2/22
*/

/* Overall Styles */
html, body{
   height: 100%;
   margin:0;
}

/* overall-navbar inside header */
#navbar{
   overflow: hidden;
   background-color: #767F69;
   align-items: center;
   position: fixed;
   top: 0;
}
#navbar a{
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 25px;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
}
#navbar a:hover{
   background-color: #545454;
}

/* overall-footer */
footer{
   overflow: hidden;
   background-color: #767F69;
   align-items: center;
   margin-bottom: 0;
}
footer a{
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 25px;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
}
footer a:hover{
   background-color: #545454;
}

/* overall-text */
#title{
   font-size: 150px;
   color: #767F69;
   margin-top: 0;
   margin-bottom: 0;
}
h1{
   font-family: 'PT Sans Narrow', Verdana, Arial, sans-serif;
   color: #767F69;
   font-weight: 700;
   font-size: 50px;
}
h2{
   font-family: 'PT Sans Narrow', Verdana, Arial, sans-serif;
   font-weight: 400;
   color: #9c9c9c;
}
p{
   font-size: 24px;
   text-align: left;
   color: #545454;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
   font-weight: 400;
   margin: 0%;
}
ul{
   color: #748160;
   font-size: 24px;
   text-align: left;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
   font-weight: 700;
   margin-top: 50px;
}
ul li{
   margin-bottom: .5em;
}
a{
   color: #a5b392;
}

/* overall-images */
img{
   max-width: 550px;
}










/* about page styles */
#about-main{
   margin-top: 3%;
   padding-left: 15%;
   padding-right: 15%;
   display: grid;
   grid-template-columns: auto auto;
   margin: 0 auto;
   margin-bottom: 100px;
}

/* about-grid */
.a-grid-one{
   grid-column: 1/2;
   grid-row: 1/2;
}
.a-grid-two{
   grid-column: 2/2;
   grid-row: 1/2;
}
.a-grid-three{
   margin-top: 10%;
   grid-column: 1/2;
   grid-row: 2/2;
}
.a-grid-four{
   margin-top: 12%;
   align-items: center;
   grid-column: 2/2;
   grid-row: 2/2
}

/* about-images */
#hospital-img{
   max-width: 500px;
   width: 100%;
   object-fit: cover;
   display: block;
   overflow: hidden;
   border-radius: 20px;
   aspect-ratio: 1/1;
   margin-left: 0;
   margin-right: 0;
}
#family-img{
   max-width: 100%;
   border-radius: 20px;
   margin-left: 0;
   margin-right: 0;
   margin-top: 35px;
}
figcaption{
   color: #545454;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
   margin-top: 5px;
   text-align: right;
}










/* Landing  styles */
#landing-main{
   width: 70%;
   margin-top: 3%;
   /* padding-left: 15%;
   padding-right: 15%; */
   margin: 0 auto;
   display: grid;
   grid-template-columns: auto auto;
   margin-bottom: 100px;
   position:static;
}

/* landing-text */
#landing-title{
   font-size: 150px;
   color: #767F69;
   text-align: left;
   margin-bottom: 0%;
   margin-top: -30px;
}

/* landing-layout */
.i-grid-one{
   max-width: 100%;
   /* margin-top: 5%; */
   background-color: transparent;;
   grid-column: 1/2;
   grid-row: 1/2;

}
.i-grid-two{
   grid-column: 2/2;
   grid-row: 1/2;
   margin-top: -8.5vw;
}
.i-grid-three{
   grid-column: 1/2;
   grid-row: 2/2;
}
.i-grid-four{
   grid-column: 2/2;
   grid-row:2/2;
   margin-left: 75px;
   margin-top: 125px;
}
#box{
   width: 75vw;
   height: 525px;
   background-color: #D6E8BE ;
   align-self: center;
   top: 0;
   /* margin-top: -29vw; */
   z-index: -1;
   position:absolute;
}

/* landing-images */
div.circle-avatar{
   /* make it responsive */
   max-width: 550px;
   width:100%;
   height:auto;
   display:block;
   /* div height to be the same as width*/
   padding-top:100%;

   /* make it a circle */
   border-radius:50%;
   border-bottom-right-radius: 5%;

   /* Centering on image`s center*/
   background-position-y: center;
   background-position-x: center;
   background-repeat: no-repeat;

   /* it makes the clue thing, takes smaller dimension to fill div */
   background-size: cover;
   object-fit: cover;

   margin-left: 0;
   margin-right: 0;
}
.i-grid-four img{
   max-width: 500px;
   width:100%;
   object-fit: cover;
   display: block;
   overflow: hidden;
   border-radius: 20px;
   aspect-ratio: 1/1;
}








/* Hobbies styles */
#hobbies-main{
   margin-top: 0%;
   padding-left: 15%;
   padding-right: 15%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto auto auto;
   margin-bottom: 100px;
}

/* hobbies-text */
.grid-header-title{
   grid-row: 2/3;
   grid-column: 1/3;
}

/* hobbies-grid */
.grid-header{
   grid-row: 1/2;
   grid-column: 1/3;
   align-self: stretch;
   column-span: all;
}
.grid-o{
   grid-row: 3/4;
   grid-column: 1/2;
   align-self: stretch;
   column-span: all;
   text-align: right;
   margin-top: 10%;
}
.grid-oo{
   grid-row: 3/4;
   grid-column: 2/3;
   margin-top: 10%;
}
.grid-oo-o{
   grid-row: 4/5;
   grid-column: 1/2;
   margin-top: 10%;
}
.grid-oo-o p{
   padding: 25px;
}
.grid-oo-oo{
   grid-row: 4/5;
   grid-column: 2/3;
   margin-top: 9%;
}

/* grid-images */
.grid-header img{
   max-width: 100%;
   height:100%;
   object-fit: cover;
   display: block;
   overflow: hidden;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px
}
.grid-o img{
   max-width: 100%;
   object-fit: cover;
   display: block;
   overflow: hidden;
   border-radius: 20px;
   aspect-ratio: 1/1;
}
.grid-oo-oo img{
   max-width: 100%;
   object-fit: cover;
   display: block;
   overflow: hidden;
   border-radius: 20px;
   aspect-ratio: 1/1;
   align-self: flex-start;
}








/* making it more responsive */
@media screen and (max-width:1400px){

   #about-main{
      margin-top: 3%;
      padding-left: 15%;
      padding-right: 15%;
      margin: 0 auto;
      display: block;
   }
   
   /* about-grid */
   .a-grid-one{
      text-align: center;
   }
   .a-grid-three{
      margin-top: 10%;
   }
   .a-grid-four{
      margin-top: 12%;
      text-align: center;
   }
   
   /* about-images */
   #hospital-img{
      max-width: 500px;
      object-fit: cover;
      display: inline;
      overflow: hidden;
      border-radius: 20px;
      aspect-ratio: 1/1;
      /* margin-left: 0; */
      /* margin-right: 0; */
   }
   #family-img{
      max-width: 500px;
      object-fit: cover;
      display: inline;
      overflow: hidden;
      border-radius: 20px;
      /* margin-left: 0; */
      /* margin-right: 0; */
      aspect-ratio: 1/1;
   }
   figcaption{
      color: #545454;
      font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
      margin-top: 5px;
      text-align: right;
   }





   /* hobbies */
   #hobbies-main{
      display: block;
   }
   .grid-header{
      align-self: stretch;
   }
   .grid-o{
      align-self: stretch;
      text-align: right;
      margin-top: 10%;
   }
   .grid-oo{
      margin-top: 10%;
   }
   .grid-oo-o{
      margin-top: 10%;
   }
   .grid-oo-o p{
      padding: 25px;
   }
   .grid-oo-oo{
      margin-top: 9%;
   }

   /* grid-images */
   .grid-header img{
      max-width: 100%;
      height:100%;
      object-fit: cover;
      display: block;
      overflow: hidden;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px
   }
   .grid-o img{
      max-width: 100%;
      object-fit: cover;
      display: block;
      overflow: hidden;
      border-radius: 20px;
      aspect-ratio: 1/1;
   }
   .grid-oo-oo img{
      max-width: 100%;
      object-fit: cover;
      display: block;
      overflow: hidden;
      border-radius: 20px;
      aspect-ratio: 1/1;
      align-self: flex-start;
   }








      /* Landing  styles */
   #landing-main{
      margin-top: 3%;
      padding-left: 15%;
      padding-right: 15%;
      width: 70%;
      margin-bottom: 100px;
      display: block;
      margin: 0 auto;
   }

   /* landing-text */
   #landing-title{
      font-size: 150px;
      color: #767F69;
      text-align: left;
      line-height: 125px;
      margin-top: -200px;
   }

   /* landing-layout */
   .i-grid-one{
      max-height: 600px;
      /* background-color: blue; */
      padding:0;
      margin:0;
      margin-top: 50px;
      aspect-ratio: 1/1;
      margin: 0 auto;

   }
   .i-grid-two {
      margin: 0 auto;
   }
   .i-grid-four img{
      max-width: 100%;
      object-fit: cover;
      display: inline;
      overflow: hidden;
      border-radius: 20px;
      aspect-ratio: 1/1;
   }
   #box{
      width: 75vw;
      height: 15vw;
      background-color: #D6E8BE ;
      align-self: center;
      top: 0;
      margin-top: -29vw;
      z-index: -1;
      position:absolute;
   }

   /* landing-images */
   .circle-avatar{
      /* make it responsive */
      max-width: 100%;
      /* width:100%; */
      /* height:auto; */
      /* max-height: 550px; */
      display:inline;
      overflow: hidden;
      /* div height to be the same as width*/
      /* padding-top:100%; */

      /* make it a circle */
      border-radius:50%;
      border-bottom-right-radius: 5%;

      /* Centering on image`s center*/
      background-position-y: center;
      background-position-x: center;
      background-repeat: no-repeat;

      /* it makes the clue thing, takes smaller dimension to fill div */

      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0px;

      /* background-origin: content-box; */
   }
}