/*
Erika Vanderhoff
CSD-340
Assignment 7.2
06/27/22
*/

#Title{
   font-size: 75px;
   color: #767F69;
   margin-top: 0;
}
h1{
   font-family: 'PT Sans Narrow', Verdana, Arial, sans-serif;
   font-weight: 700;
}
#navbar{
   overflow: hidden;
   background-color: #767F69;
   border-bottom: green;
}
#navbar a{
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
#navbar a:hover{
   background-color: #545454;
}
h2{
   font-family: 'PT Sans Narrow', Verdana, Arial, sans-serif;
   font-weight: 400;
   color: #a5b392;
}
p{
   font-size: 24px;
   text-align: left;
   color: #545454;
   font-family: 'Josefin Sans', Verdana, Arial, sans-serif;
   font-weight: 300;
   margin: 0%;
}
ul{
   color: #a5b392;
}
#main{
   margin-top: 3%;
   padding-left: 15%;
   padding-right: 15%;
   display: grid;
   grid-template-columns: auto auto;
   row-gap: 10%;
}
img{
   max-width: 550px;
}

@media screen and (max-width: 940px) {
   body, p, #main {
      padding-left: 0%;
      padding-right: 0%;
   }
}

#landing-main{

}
#landing-title{
   font-size: 100px;
   color: #767F69;
   text-align: left;
   margin-bottom: 0%;
   margin-top: 5%;
}
div.circle-avatar{
   /* make it responsive */
   max-width: 100%;
   width:100%;
   height:auto;
   display:block;
   /* div height to be the same as width*/
   padding-top:100%;

   /* make it a circle */
   border-radius:50%;

   /* Centering on image`s center*/
   background-position-y: center;
   background-position-x: center;
   background-repeat: no-repeat;

   /* it makes the clue thing, takes smaller dimension to fill div */
   background-size: cover;

   /* it is optional, for making this div centered in parent*/
   margin: 0 auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
.left{
   margin-left: 15%;
   margin-top: 5%;
   float: left;
   width: 30%;
}
.right{
   margin-left: 0%;
   margin-top: 0%;
}
#color-img{
   height: 5%;
   width: 100%;
}
#top-div{
   width: 100%;
}
.grid-header{
   grid-area: head;
}
.grid-o{
   grid-area: o;
}
.grid-oo{
   grid-area: oo;
}
.grid-oo-o{
   grid-area: ooo;
}
.grid-oo-oo{
   grid-area: oooo;
}
#main-two{
   margin-top: 3%;
   padding-left: 15%;
   padding-right: 15%;
   display: grid;
   grid-template-areas:
   'head head'
   'o oo'
   'ooo oooo';
   gap: 10px;
}